<h1>Make your form here</h1>
<form method='post' action='/pirates'>
<h2>Pirate</h2>
  <ul>
    <li>Name<input type='text' name='pirate[name]'></li>
    <li>Weight<input type='text' name='pirate[weight]'></li>
    <li>Height<input type='text' name='pirate[height]'></li>
  </ul>
<h2>Ship 1</h2>
  <ul>
    <li>Name<input type='text' id='ship_name_1' name='pirate[ships][][name]'></li>
    <li>Type<input type='text' id='ship_type_1' name='pirate[ships][][type]'></li>
    <li>Booty<input type='text'id='ship_booty_1' name='pirate[ships][][booty]'></li>
  </ul>
<h2>Ship 2</h2>
  <ul>
    <li>Name<input type='text' id='ship_name_2' name='pirate[ships][][name]'></li>
    <li>Type<input type='text' id='ship_type_2' name='pirate[ships][][type]'></li>
    <li>Booty<input type='text' id='ship_booty_2' name='pirate[ships][][booty]'></li>
  </ul>
  <input type='submit' id='Submit'>
</form>